[Desktop Entry]
Type=Application
Version=1.0

Name=Install System
GenericName=System Installer
Comment=Install the system with Calamares

Exec=/usr/local/bin/calamares-wrapper
TryExec=/usr/bin/calamares

Icon=calamares
Terminal=false
StartupNotify=true

Categories=System;Settings;Utility;
Keywords=calamares;installer;system;

X-AppStream-Ignore=true

